
.aboutsection{
    margin-top: 80px;
    background-color: #C4E3FF;
    text-align: center;
    padding-bottom: 20px;
}
.abouth1{
    padding-top: 20px;
    font-size: 60px;
}
.aboutp {
    font-size: 25px;
    color: #040404;
    opacity: 0.6;
}
.developer{
    padding-top: 60px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
}

.devnames{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.devnames-2{
    display: flex;
    justify-content: center;
}