.productview-center{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productview-container{
    display: flex;
    justify-content: flex-start;
    width: 1233px;
    text-align: left;
}
.product-left{
    width: 40%;
    /* height: 500px; */
    background-color: #032246;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-right{
    width: 60%;
    /* height: 500px; */
    background-color: white;
}
.productright-info{
    margin: 50px;
}
.productright-name{
    font-size: 35px;
    padding-bottom: 20px;
    text-wrap: wrap;
}
.productright-price{
    font-size: 30px;
}
.productright-pricespan{
    color: #53ABC2;
}
.productright-quantity{
    font-size: 32px;
    font-weight: bold;
    padding-right: 20px;
}
.productright-quantityinput{
    background-color: #DBD9D9;
    text-align: center;
    width: 100px;
    font-size: 30px;
}
.product-img{
    width: 390px;
    height: 320px;
}
.productright-hr{
    border: 2px solid black;
    margin-top: 90px;
    margin-bottom: 0px;
}
.productview-btns{
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productright-addbtn{
    cursor: pointer;
}
.productright-learnmorebtn{
    cursor: pointer;
}

