.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CustomerMessageInbox{
    margin-top: 40px;
    background-color: rgba(209, 240, 255, 0.902);
    padding: 20px;
    width: 1233px;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.4);
    padding-bottom: 40px;
}
.CustomerMessageInbox-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CustomerMessageInbox-content-header{
    padding: 10px;
    background-color: #9ADEE8;
    text-align: center;
}
.CustomerMessageInbox-content-body{
    background-color: white;
    padding: 5px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.messagecard{
    margin-top: 10px;
    background-color: #F7F7F7;
    border: 1px solid black;
    border-radius: 8px;
}
.messagecard:hover{
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.4);
    transition: .2s;
}
.messagecard:not(:hover){
    transition: .2s;
}
.messagecard-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dbd8d8;
    border-radius: 8px;
}
.messagecard-span{
    font-weight: bold;
}
.messagecard-message{
    padding: 20px;
    display: none;
}
.messagee{
    font-weight: bold;
}
.message-span{
    font-weight: 400;
}
.message-text{
    font-style: italic;
}