
  
  .loginbox{
    /* margin: 5%; */
    border-radius: 20px;
    display: flex;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.56); 
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.56);
  }
  .left{
    margin: 30px;
  }
  .r{
    background-color: black;
    border-radius: 20px;
    background: url(/public/images/adminLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 600px;
 
  }
  .adminlogin-h1{
    color: #151296;
  }
  .adminlogin-h2{
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .adminlogin-span{
    color: #151296;
    font-weight: bolder;
  }
  .form{
    margin-top: 20px;
    text-align: center;
  }
 
  .adminlogin-input{
    padding-left: 10px; 
  
    order: 1px solid #6AB3F7;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #6AB3F7;
  }
  
  .adminlogin-btnregister{
    background-color: #4BC4EA;
    color: white;
    border: 1px solid #6AB3F7;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .adminlogin-input, .adminlogin-btnlogin, .adminlogin-btnregister{
    margin: 5px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
  }
  .adminlogin-btnlogin, .adminlogin-btnregister{
    width: 315px;
  }
  .adminlogin-btnlogin{
    margin-top: 30px;
    background-color: #4B70EA;
    color: white;
    border: 1px solid #6AB3F7;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  hr{
    margin-top: 20px;
    margin-bottom: 20px;
  }