.loginbox-container{
  /* background-color: black; */
  display: flex;
  justify-content: center;
}
.loginbox{
  margin: 5%;
  border-radius: 20px;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.56); 
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.56);
}
.left{
  margin: 30px;
}
.rr{
  border-radius: 20px;
  background-image: url(/public/images/loginPic.jpg);
  background-size: cover;
  background-position: center;
  width: 700px;
}
.userlogin-h1{
  color: #151296;
}
.userlogin-h2{
  margin-top: 80px;
  margin-bottom: 20px;
}
.userlogin-span{
  color: #151296;
  font-weight: bolder;
}
.form{
  text-align: center;
}
.form-input{
  position: relative;
}
.userlogin-input{
  padding-left: 30px; 

  order: 1px solid #6AB3F7;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #6AB3F7;
}


.btnregister{
  background-color: #4BC4EA;
  color: white;
  border: 1px solid #6AB3F7;
  padding-top: 16px;
  padding-bottom: 16px;
}
.userlogin-input, .btnlogin, .btnregister{
  margin: 5px;
  width: 300px;
  border-radius: 5px;
}
.btnlogin{
  background-color: #4B70EA;
  color: white;
  border: 1px solid #6AB3F7;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 40px;
}
.btnlogin, .btnregister{
  width: 330px;
  cursor: pointer;
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
}