
body{
    background-color: rgb(231, 239, 255);;
}
.pageLogo{
    background-color: #BADEFF;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.home-h1{
    padding-top: 30px;
    text-align: center;
}
.control-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.control-buttons{
    padding: 30px;
    background-color: white;
    /* display: flex;
    justify-content: center;
    flex-direction: ; */
    /* gap: 1rem; */
    -webkit-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.5);
}
.home-btn{
    /* margin-top: 50px;
    margin-bottom: 50px; */
    border: none;
    margin: 20px;
    cursor: pointer;
    width: 300px;
    color: white;
    font-size: 20px;
    background-color: #4B70EA;
    border-color: #6AB3F7;
    padding: 10px;
}
.home-btn:hover{
    background-color: #2a4294;
}
.user-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon{
    width: 30px;
}