html {
    overflow-y: scroll;
  }
.ordermanager-center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ordermanager-history{
    width: 50px;
    cursor: pointer;
}
.ordermanager-container{
    width: 1233px;
}
.ordermanager-head{
    background-color: #BADEFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1233px; */
    
}
.ordermanager-body{
    /* width: 1233px; */
    background-color: white;
    padding: 10px;
    padding-top: 20px;
}
.ordercard{
    margin-bottom: 10px;
    border: 1px solid black;
}
.ordercard-container{
    /* margin-top: 10px; */
    
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    background-color: #EAEAEA;
}
.ordercard-body{
    background-color: white;
    display: none;
}
.productcard-title{
    margin-left: 10px;
}
.productcard-h{
    display: flex;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    background-color: rgb(165, 218, 255);
    margin: 10px;
    border-radius: 10px;
}
.ordermanager-body-title{
    text-align: center;
    padding-bottom: 20px;
}
.ordermanager-btnready-container{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ordermanager-btnready{
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: rgb(207, 207, 207);
}
.ordermanager-btnready:hover{
    background-color: rgb(188, 249, 98);
}
.ordermanager-btnready:active{
    background-color: rgb(199, 240, 137);
}